.header{
	height:50px;
}
.contents{
	height:100vh;
	display:flex;
}
.blocklyArea{
	flex:2;
	display: flex;
	flex-direction: column;
	padding:10px;
}
.blocklyMenu{
	height:30px;
	display: flex;
	justify-content: space-between;
}
.openXmlButton{
	width: 75px;
}
.saveXmlButton{
	width:75px;
}
.blocklyContents{
	flex: 1;
}
.luaArea{
	flex:1;
	display: flex;
	flex-direction: column;
	padding:10px;
}
.luaMenu{
	height:30px;
	display: flex;
	justify-content: space-between;
}
.saveLuaButton{
	width:75px;
}
.copyLuaButton{
	width:75px;
}
.luaContents{
	flex: 1;
}
.luaText{
	height:100%;
	width: 100%;
	resize:none;
}
.footer{
	text-align: center;
}
xml {
	display: none;
}